<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
    <add name="MongoServerSettings" connectionString="mongodb://10.8.6.188/CommunicationLog?safe=true" />
  </connectionStrings>
</configuration>